.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.footer img {
    margin-left: 0.5rem;
}

/* .footer a {
    display: flex;
    justify-content: center;
    align-items: center; 
} */