.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: unset;
  max-width: 1000px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}
/* padding: 5rem 1rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr; */