@tailwind base;
@tailwind components;
@tailwind utilitutilitiesies;

:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray3: #b2becd;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --borderBlack: #eaeaea;
  --borderWhite: #66666675;
  --shadow: 0 0 20px 0 rgba(82, 82, 82, 0.2);
  --shadowCrad: 0 10px 30px 0 rgba(82, 82, 82, 0.309);
}

.light {
  --bg: var(--gray0);
  --text: var(--gray6);
  --border: var(--borderBlack);
}

.dark {
  --bg: var(--gray5);
  --text: var(--gray0);
  --border: var(--borderWhite);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  padding: 9rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .active {
  box-shadow: 0 10px 30px 0 rgba(82, 82, 82, 0.309);
}

.navContent {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s ease;
}

.navContent a {
  cursor: pointer;
  font-weight: bold;
  border-radius: 33px;
  margin: 15px;
  padding: 10px;
  transition: all .3s ease;
}

.navContent a:hover {
  box-shadow: var(--shadowCrad);
}

.icon {
  border-radius: 10px;
  box-shadow: var(--shadowCrad);
  padding: 9px;
  cursor: pointer;
  font-size: 40px;
  margin-left: 25px;
}

.tiggers {
  display: flex;
  align-items: center;
}

.tigger {
  cursor: pointer;
  visibility: hidden;
}

.navContent .login:hover {
  background: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  width: 100%;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--border);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 3rem;
}

.card:hover {
  box-shadow: var(--shadowCrad);
}

.image {
  border-radius: 20px;
  width: 20%;
  height: 20%;
}


@media (max-width: 760px) {
  .main {
    padding: 6rem 1rem;
  }

  .Navbar h1 {
    font-size: 20px;
  }

  .Navbar.active {
    height: 100vh;
  }

  .navContent {
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
    transition: all 0.3s ease;
  }

  .tigger {
    visibility: visible;
    cursor: pointer;
    color: black;
    font-size: 25px;
    margin-left: 20px;
  }

  .navContent.active {
    visibility: visible;
  }

  .icon {
    font-size: 20px;
    margin-left: 20px;
  }
} */

@layer base {
  .Navbar {
    @apply sticky w-full bg-white px-3 z-[1000] shadow-2xl h-hit
  }

  .navList {
    @apply bg-primary m-0 list-none dark: bg-dprimary text-white flex flex-col justify-between overflow-y-auto h-screen md:w-2/3 w-full z-[100] fixed top-0 right-0 p-7 text-white transition-all duration-300
  }

  .navLink {
    @apply p-5 mb-3 list-none rounded-3xl font-black cursor-pointer dark: hover:bg-dlight dark:hover:text-white hover:bg-white hover:text-primary transition-all duration-300
  }

  .navBtn {
    @apply flex justify-center items-center p-3 bg-primary dark: bg-dlight rounded-3xl gap-3 font-black text-base hover:bg-white hover:text-primary transition-all duration-300 cursor-pointer z-[15]
  }

  .login {
    @apply p-4 rounded-xl shadow-2xl
  }

}