@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  direction: rtl;
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: 'medium';
    src: url('/fonts/Regular.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'black';
    src: url('/fonts/Bold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  nav {
    @apply p-4 sticky text-black top-0 flex justify-between items-center shadow-lg bg-white
  }

  footer {
    @apply p-6 border-t-2 border
  }

  .navIcon {
    @apply text-3xl p-3 bg-gray-500 transition-all duration-300 cursor-pointer z-[15]

  }

  .navList {
    @apply bg-white m-0 list-none dark:bg-dprimary text-white flex gap-2 flex-col overflow-y-auto h-screen md:w-1/3 w-full z-[100] fixed top-0 right-0 p-7 text-black transition-all duration-300
  }

  .navLink {
    @apply p-3 mb-1 list-none font-black cursor-pointer dark:hover:bg-dlight dark:hover:text-white hover:bg-white hover:text-primary transition-all duration-300
  }
  
  main {
    @apply p-5
  }

  a {
    @apply text-blue-500
  }

  h1 {
    @apply font-black text-3xl mb-6
  }

  h2 {
    @apply font-black text-xl pb-2 border-b-2 border-b-gray-200
  }

  ul {
    @apply list-disc px-6
  }

  ol {
    @apply list-decimal px-6
  }
}